
<div class ="jumbotron">
	
	<h1 id="">welcome to our marketplace</h1>
	<p>the largest online book store </p>
	
	<%= link_to "Books", books_path, class: "btn btn-primary btn-lg"%>
	
	<%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary btn-lg" %>
	
</div>